<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Jimmy Yahir Gutierrez</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/nexos_Libreria_MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid header">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/nexos.png" alt="nexos logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="text-center">
        <h1 class="display-4">Nexos Libreria NET</h1>
    </div>
    <div class="display-6 mx-auto p-2" style="width: 70vw; font-size:2rem;">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link load active" id="home-tab" data-bs-toggle="tab" data-bs-target="#Proofs" type="button" role="tab" aria-controls="home" aria-selected="true" href="@Url.Action("Index", "Books")">Libros</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link load" id="profile-tab" data-bs-toggle="tab" data-bs-target="#Proofs" type="button" role="tab" aria-controls="profile" data-bs-toggle="pill" data-bs-target="#pills-profile" asp-controller="Books" asp-action="AddBook">Agregar Libro</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link load" id="profile-tab" data-bs-toggle="tab" data-bs-target="#Proofs" type="button" role="tab" aria-controls="profile" data-bs-toggle="pill" data-bs-target="#pills-profile" asp-controller="Books" asp-action="AddBook">Agregar Libro</button>

                <a class="nav-link load" data-bs-target="Proofs" aria-controls="contact" type="button" role="tab" aria-selected="false" toggle="pill" href="@Url.Action("Index", "Autors")">Autoress</a>
            </li>
                <button class="nav-link load" id="contact-tab" data-bs-toggle="tab" data-bs-target="#Proofs" type="button" role="tab" aria-controls="contact" aria-selected="false" asp-controller="Autors" asp-action="Index">Autores</button>
            </li>
            <li class="nav-item" role="presentation">
            <li class="nav-item" role="presentation">
                <button class="nav-link load" id="contact-tab" data-bs-toggle="tab" data-bs-target="#Proofs" type="button" role="tab" aria-controls="agregarAutor" aria-selected="false" asp-controller="Autors" asp-action="AddAutor">Agregar Autor</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="Proofs" role="tabpanel" aria-labelledby="home-tab">
                <br>@RenderBody()
            </div>

        </div>
    </div>
@*    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>*@
    <div id="loading">
        <div class="loader"></div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            Created by Jimmy Yahir Gutierrez &copy; 2023 - nexos_Libreria_MVC
            📜<a href="https://haku777.com/" target="_blank">Web Page</a>
            📜<a href="https://github.com/haku777" target="_blank">Github</a>
            @*<a asp-area="" asp-controller="Home" asp-action="Privacy">Web Page</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
        <script>
            (()=>{
                let load = document.querySelector("#loading");
                let loadclass = document.querySelectorAll(".load");
                function loader() {
                    load.style.display = "none";
                }
                function timer(){
                    setTimeout(loader, 1000);
                }
                timer();
                loadclass.forEach(button => {
                    button.addEventListener("click", function () {
                    load.style.display = "flex";
                        timer();
                    });
                });
            })();
        </script>
</body>
</html>
